.did-you-know {
  margin-top: 3rem;
}

.did-you-know__list > div {
  margin-bottom: 5px;
  padding: 14px 20px;
  border-radius: 3px;
  border: 1px solid var(--light-gray-3);
  font-family: var(--main-font-family);
  box-shadow: 0 0 1px rgb(0 0 0 / 12%);
}

.did-you-know__list > div p {
  margin-top: 6px;
  font-size: 17px;
  line-height: 23px;
}
