.gallery__wrapper {
  background-color: #c5c5c1;
}

.gallery__wrapper--inner {
  max-width: 700px;
  margin: 0 auto;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 7px
  );
  background-repeat: no-repeat;
  background-size: 100% 7px;
  background-color: #fff;
  padding: 1rem 17px;
}

.gallery__wrapper-inner-grid {
  border-radius: 6px;
  border: 1px solid var(--light-gray-3);
  box-shadow: 0 0 1px rgb(0 0 0 / 12%);
  padding: 20px;
}

.gallery__wrapper-inner-grid__items {
  margin-top: 15px;
}

.gallery__wrapper--header h2 {
  font-weight: normal;
  font-size: 1.7rem;
}

.gallery__wrapper--body {
  margin: 1rem 0;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.gallery__wrapper--body img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
  margin: 1px;
}
