.login-page {
  display: grid;
  grid-gap: 1rem;
  grid-column-gap: 0;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (orientation: landscape) {
  .login-page {
    grid-template-columns: 1fr 1fr;
  }
}

.login-page__form {
  padding: 15px;
}

.login-page__form form > div {
  position: relative;
}

.login-page__form form > div label {
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  left: 10px;
  transition: all 0.2s ease-in;
  pointer-events: none;
}

.login-page__form form > div.active label {
  transform: translateY(-100%);
  top: calc(0% + 8px);
  z-index: 2;
  background-color: #fff;
  color: #c59b02;
  padding: 1px 4px;
  padding-right: 10px;
  font-size: 11px;
}

.login-page__form input {
  border: 1px solid #dddddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
}

.login-page__form input:focus,
.login-page__form input:active {
  outline-color: #c59b02;
}

.login-page__form--submit {
  position: relative;
}

.pending-submit {
  color: var(--yellow-1) !important;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 5px solid #333;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #333 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-page__form button {
  background-color: var(--yellow-1);
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 6px 20px;
  border-radius: 3px;
  color: #333;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
}

.login-page__form button:hover,
.login-page__form button:focus,
.login-page__form button:active {
  background-color: rgb(255 201 5 / 66%);
}

.login-page__form button:hover.pending-submit,
.login-page__form button:focus.pending-submit,
.login-page__form button:active.pending-submit {
  color: rgb(255 201 5 / 0%) !important;
}

.login-page__form h2 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 1.9rem;
}

.login-page__img img {
  display: block;
  max-width: 100%;
}

.login-icon__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.login-icon {
  width: 80px;
}

.login-page__form input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
