.main-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.main-container__bg {
  min-height: 80vh;
  padding-bottom: 1.5rem;
  background-color: var(--main-single-movie-bg-color);
}

/* Paddings */
.no-paddings {
  padding: 0 !important;
}

.ptop1-rem {
  padding-top: 1rem;
}

.pbot1-rem {
  padding-bottom: 1rem;
}

.ptop2-rem {
  padding-top: 2rem;
}

.pbot2-rem {
  padding-bottom: 2rem;
}

.p1-rem {
  padding: 1rem;
}

.p2-rem {
  padding: 2rem;
}

/* Margins */
.no-margins {
  margin: 0 !important;
}

.mtop1-rem {
  margin-top: 1rem;
}

.mbot1-rem {
  margin-bottom: 1rem;
}

.mtop2-rem {
  margin-top: 2rem;
}

.mbot2-rem {
  margin-bottom: 2rem;
}

/* Cursor */
.cursor-pointer {
  cursor: pointer;
}

/* Text formatting */
.text-decoration-underline {
  text-decoration: underline;
}

/* Overflow */
.overflow-hidden {
  overflow: hidden;
}
