:root {
  --main-single-movie-bg-color: #1f1f1f;
  --hover-main-bg-color: #313131;
  --light-gray-1: rgba(255, 255, 255, 0.2);
  --light-gray-2: #676767;
  --light-gray-3: rgba(0, 0, 0, 0.12);
  --yellow-1: #f5c518;
  --yellow-2: #ecd684;
  --blue-1: rgb(87, 153, 239);
  --blue-2: #136cbb;
  --blue-3: #136cb2;
  --red-1: #ed4337;

  --main-font-family: "Roboto", sans-serif;
  --second-font-family: "Montserrat", sans-serif;
  --main-serif-font-family: "Playfair Display", serif;
}
