.genres {
  margin-top: 20px;
  padding: 0 10px;
}

.genres ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (orientation: landscape) {
  .genres ul {
    justify-content: flex-start;
  }
}

.genres ul li {
  margin: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 4px 12px;
  border-radius: 25px;
  border: 1px solid var(--light-gray-2);
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.genres ul li a {
  color: inherit;
  text-decoration: none;
}

.genres ul li:hover {
  background-color: var(--light-gray-2);
}
