.single-movie__additional {
  padding-top: 2rem;
  padding-left: 7px;
  padding-right: 7px;
}

@media (min-width: 1024px) {
  .single-movie__additional {
    padding-left: 0;
    padding-right: 0;
  }
}
