.grid {
  display: grid;
  grid-gap: 10px;
}

@media (orientation: landscape) {
  .grid-third-fourth {
    grid-template-columns: 1fr 0.5fr;
  }

  .grid-auto-1fr {
    grid-template-columns: auto 1fr;
  }

  .grid-equal {
    grid-template-columns: 1fr 1fr;
  }
}
